.seri {
    width: 80px;
}
.action {
    width: 180px;
}
.table {
    text-align: center;
}
.card .card-title {
    text-align: center;
    padding: 20px 0px;
    font-size: 40px;
}
.action a {
    margin-bottom: 15px;
}
.table thead th {
    font-size: 18px;
    font-weight: 800;
}
.table tbody td {
    font-size: 16px;
}
.paginate {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.name_product {
    padding: 0;
    width: 300px;
}
.detail,
.action {
    width: 130px;
}

.image-prod {
    width: 200px;
    height: 200px;
}
.image-prod img {
    width: 100%;
    height: 100%;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.25);
}
.modal-content {
    min-height: 350px;
    width: 100%;
    max-width: 800px;
    padding: 25px;
    border-radius: 20px;
    position: relative;
    background-color: #fff;
    cursor: auto;
}
.modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 10rem;
    background-color: #6a5af9;
    color: white;
    cursor: pointer;
}
