.dropdown {
}
.dropdown .dropdown_select {
}
.dropdown_list {
    margin-top: 0.5rem;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    /* display: none; */
    z-index: 10;
    border-radius: 20px;
}
.dropdown .dropdown_item {
    background-color: #222222;
    border-radius: 10px;
    width: auto;
    color: #999999;
}
.dropdown_list.show {
    display: block;
}
.dropdown_selected {
}
